@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-hospital-blue: #1d4ed8;
  --color-hospital-light: #eff6ff;
  --color-hospital-dark: #1e293b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Custom Thin Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Dark Mode Scrollbar */
html.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
